$body-bg: #282c34;
$font-stack: Arial, sans-serif;
$primary-color: #d81f26;
$checkbox-size: 20px;

body {
    background-color: $body-bg;
    width: 200px;
    color: white;
    font-family: $font-stack;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: $primary-color;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    height: $checkbox-size;
    width: $checkbox-size;
    cursor: pointer;
    margin-right: 45px;

    &::before {
        content: "";
        display: inline-block;
        width: $checkbox-size;
        height: $checkbox-size;
        background-color: $body-bg;
        border: 2px solid $primary-color;
        border-radius: 3px;
    }

    &:checked::before {
        content: "\2713";
        color: $primary-color;
        text-align: center;
        line-height: $checkbox-size;
        font-weight: bold;
    }
}

.logo>img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.logo {
    text-align: center;
}

.skip-intro-logo {
    width: 80px;
    height: auto;
    margin-left: 40px;
    padding-top: 5px;
}

.next-episode-logo {
    width: 80px;
    height: auto;
    margin-left: 40px;
    padding-top: 5px;
}