$body-bg: #282c34;
$font-stack: Arial, sans-serif;
$primary-color: #d81f26;
$checkbox-size: 20px;

body {
    background-color: $body-bg;
    width: 220px;
    color: white;
    font-family: $font-stack;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px 7px;
}


label {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    height: $checkbox-size;
    width: $checkbox-size;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 31px;

    &::before {
        content: "";
        display: inline-block;
        width: $checkbox-size;
        height: $checkbox-size;
        background-color: $body-bg;
        border: 2px solid $primary-color;
        border-radius: 3px;
    }

    &:checked::before {
        content: "\2713";
        color: $primary-color;
        text-align: center;
        line-height: $checkbox-size;
        font-weight: bold;
    }
}

.logo>img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

#root {
    padding: 15px;
}

.logo {
    text-align: center;
}

.settings {
    border: #d81f26 solid 1px;
    padding:  20px 10px 10px 10px;
    width: 180px;
}

.skip-intro-logo {
    width: 80px;
    height: 28px;
    margin-left: 10px;
    padding-top: 5px;
}

.next-episode-logo {
    width: 80px;
    height: 28px;
    margin-left: 10px;
    padding-top: 5px;
}

.skip-recap-logo {
    width: 80px;
    height: 28px;
    margin-left: 10px;
    padding-top: 5px;
}